body {
    margin: 0;
    font-family: Arial;
    text-align: center;
}

header {
    background-color: red;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}
footer{
    background-color: black;
    color: white;
    padding: 15px;
    margin-top: 50px;
}